#left{
    padding-left: 10%;
    width: 35%;
    float: left;
}
#right{
    padding: 3% 10%;
    float: right;
    width: 35%;
}
#fire{
    display: none;
}
#picR{
    clear: both;
    
}
body{
    height: 700px;
}
